if TARGET_IMX8MP_BEACON

config SYS_BOARD
	default "imx8mp"

config SYS_VENDOR
	default "beacon"

config SYS_CONFIG_NAME
	default "imx8mp_beacon"

config IMX8MP_BEACON_4GB_LPDDR
	bool "Enable 4GB LPDDR"
	help
	  Enable this if the SOM has 4GB of RAM instead of
	  the default 6GB variant.

config IMX8MP_BEACON_2GB_LPDDR
	bool "Enable 2GB LPDDR"
	help
	  Enable this if the SOM has 2GB of RAM instead of
	  the default 6GB variant.

config IMX_CONFIG
	default "board/freescale/imx8mp_evk/imximage-8mp-lpddr4.cfg"

source "board/freescale/common/Kconfig"

endif
